@import '../../../../shared/style/variables';
@import '../../../../shared/style/mixins';
@import '../../../style/settings';

.settings-container {
    &__contact-details {
        &--info {
            margin-top: 20px;
            margin-bottom: 10px;

            a {
                white-space: nowrap;
            }
        }

        &--success {
            margin-top: 15px;
        }
    }
}
