<div class="homeprofile-header">
    <agl-maui-secondary-navigation display="true" displayBackButton="true" text="Home Profile" textMobile="Home Profile" (click)="backClick()" pageNumber="{{currentPage}}" pageTotal="{{totalPages}}" displayPageNumber="OnMobile"></agl-maui-secondary-navigation>
    <agl-maui-heading class="homeprofile-header__text" heading="{{pageHeading}}"></agl-maui-heading>
    <agl-maui-page-progress-bar class="homeprofile-header__progress-bar hidden-xs" currentPage="{{currentPage}}" totalPages="{{totalPages}}"></agl-maui-page-progress-bar>
</div>