$display-font-stack: 'Titillium Web', sans-serif;
$body-font-stack: 'Open Sans', sans-serif;

$display-font-size-alpha: 36px;
$display-font-size-beta: 30px;
$display-font-size-gamma: 26px;
$display-font-size-delta: 22px;
$display-font-size-epsilon: 18px;
$display-font-size-number-large: 50px;
$display-font-size-number-prefix: 30px;

$body-font-size-big: 18px;
$body-font-size-normal: 16px;
$body-font-size-small: 14px;
$body-font-size-smallest: 12px;
