// Primary Colours
$primary-light: #00DFED;
$primary-dark: #001CB0;

// Secondary Colours
$secondary-success-light: #50E3C2;
$secondary-success-dark: #2CAA18;
$secondary-warning-light: #F80EC5;
$secondary-warning-dark: #FD334C;
$secondary-inform-light: #9D15FF;
$secondary-inform-dark: #6031A6;
$secondary-action-light: #FFE344;
$secondary-action-dark: #F6A623;

// Neutral Colours
$neutral-01: #333333;
$neutral-02: #666666;
$neutral-03: #999999;
$neutral-04: #CCCCCC;
$neutral-05: #E8E8E8;
$neutral-06: #F5F5F5;
$neutral-07: #F9F9F9;
$neutral-08: #FFFFFF;
