<div class="tracker-header">
   <div class="row">
        <div class="col s4">
            <nav class="tracker-header__nav">
                <a href="https://www.agl.com.au" target="_blank" class="brand-logo">
                    <mat-icon svgIcon='agl-brand-logo' class="tracker-header__logo"></mat-icon>
                </a>
                <a href="https://www.agl.com.au" target="_blank" class="mobile-brand-logo">
                    <mat-icon svgIcon='agl-mobile-brand-logo' class="tracker-header__mobilelogo"></mat-icon>
                </a>
            </nav>
        </div>
        <div class="col s8">
            <div class="tracker-header__referencenumber"> Ref code: {{ referenceCode }}
            </div>
        </div>
    </div>
</div>
