<div class="solar-check-prerequsite agl-modal-body agl-modal-body-overall-settings">
    <div class="row modal-navi no-horizontal-padding">
        <span id="solar-check-prerequsite-back-button" class="back-button" (click)="previous()" #backButtonTopLeft>
            <img src="svg/scc_modal_back_arrow.svg" alt="Navigate to previous step">
        </span>
        <span id="solar-check-prerequsite-close-button" class="close-button" (click)="closeModal()" #cancelButtonTopRight>
            <img src="svg/scc_modal_close.svg" alt="Exit Solar Check registration">
        </span>
        
    </div>
    <div class="visible-xs row no-horizontal-padding">
        <div class="center-image-horizontally-cropped-outer">
            <div class="center-image-horizontally-cropped-inner">
                <img src="svg/scc_prereq_banner_sm.svg" alt="Solar Check Prerequisite Registration Step">
            </div>
        </div>
    </div>
    <div class="row prereq-content no-horizontal-padding">
        <div class="battery-details-capture">

            <!--title-->
            <div class="content-area battery-title">
                <div class="battery-title-text">
                    Do you have a solar battery?
                </div>
            </div>
            
            <!--yes and no buttons-->
            <div class="content-area option-button-outer-padding">
                <div class="option-button-layout">
                    <button mat-raised-button color="warning" class="option-button-size option-button-left-button-padding option-button-yes" [class.option-button-deselected]="model.hasBattery !== true" [class.option-button-selected]="model.hasBattery === true" (click)="hasBatterySelected(true)">
                        <img src="{{model.yesButtonSrc}}" class="option-button-yes-img-size" alt="Yes I have a battery">
                        <div class="option-button-text option-button-text-pos">
                            Yes, I do.
                        </div>
                    </button>
                    <button mat-raised-button color="warning" class="option-button-size option-button-no" [class.option-button-deselected]="model.hasBattery !== false" [class.option-button-selected]="model.hasBattery === false" (click)="hasBatterySelected(false)">
                        <img src="{{model.noButtonSrc}}" class="option-button-no-img-size" alt="No I do not have a battery">
                        <div class="option-button-text option-button-text-pos">
                            No, I don't.
                        </div>
                    </button>
                </div>
            </div>

            <!--copy text-->
            <div class="content-area info-message-padding">
                <div class="info-message-font-details">
                    A heads up before we begin; Solar Command Check is currently designed for homes <b>without</b> a solar battery. So for now it&#8217;s not for you if you&#8217;re storing your solar.
                </div>
            </div>

            <div class="content-area next-button-padding">
                <button [class.is-loading]="submitInProgress" [disabled]="model.hasBattery === null || submitInProgress" mat-raised-button class="mat-raised-button dls-button dls-button-override next-button" color="accent" (click)="submit()">
                    Next
                </button>
            </div>
        </div>
    </div>
   
    <div class="no-horizontal-padding">
            <div class="visible-sm visible-md visible-lg visible-xl">
                <img src="svg/scc_prereq_banner_lg.svg" alt="Solar Check Prerequisite Registration Step">
            </div>
        </div>
    </div>
