@import '../../../../shared/style/mixins';
@import '../../../maui/maui';

.flybuys-navigation {
    z-index: 990;
    position: fixed;
}

@media #{$agl-layout-mobile} {
    .flybuys-content {
        padding: 0 25px 0 25px;
    }
}

agl-loader {
    display: block;
    margin-top: 28px;
}

.page__header,
.page__content {
    text-align: center;
}

.transactions-list {

    @media #{$agl-layout-tablet-and-greater} {
        max-width: 560px;
        margin: 28px auto 0 auto;
    }

    table {
        width: 100%;
        font-size: 14px;

        tr>td {
            padding: 25px 0;
            border: 1px solid $neutral-05;
            border-left: none;
            border-right: none;
            text-align: left;
            vertical-align: top;

            &:first-child {
                width: 33%;
                padding-right: 8px;
            }

            &:last-child {
                text-align: right;
                width: 20%;
            }

            @media #{$agl-layout-xs} {
                font-size: 13px;
            }
        }

        tr {
            &:first-child>td {
                border-top-color: transparent; // so height stays consistent
            }

            &.debit-row>td {
                opacity: 0.5;
            }
        }
    }
}

.transaction-list__action {
    font-size: 14px;
    margin-top: 35px;

    .down-arrow {
        @include downArrow($primary-dark);
    }

    .up-arrow {
        @include upArrow($primary-dark);
    }
}

.flybuy-points {
    font-size: 16px;
    font-weight: 600;

    @media #{$agl-layout-tablet-and-greater} {
        font-size: 18px;
    }
}

.page__header {
    display: flex;
    padding-top: 107px;

    @media #{$agl-layout-mobile} {
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 25px;
        padding-top: 80px;

        img {
            height: 35px;
            width: 75px;
            margin: 2px 25px 0 0;
        }

        p {
            margin: 0;
            max-width: 270px;
            text-align: left;
            line-height: 20px;
        }
    }

    @media #{$agl-layout-tablet-and-greater} {
        flex-direction: column;

        img {
            height: 66px;
            width: 142px;
        }

        p {
            margin-top: 40px;
        }
    }
}

.error-message {
    text-align: center;
    padding-top: 150px;

    @media #{$agl-layout-mobile} {
        padding-top: 90px;
    }

    h3 {
        font-family: $display-font-stack;
        font-size: 26px;
        font-weight: bold;
        color: $primary-dark;
        margin: 0 auto;

        @media #{$agl-layout-mobile} {
            padding: 0 10px 10px 10px;
        }

        @media #{$agl-layout-xs} {
            font-size: 18px;
        }
    }

    p {
        line-height: 1.7;
        max-width: 550px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .error-image {
        margin: 25px -15px 30px -15px;
    }
}
