@import '../../../maui/maui';

p,
agl-dls-link {
    font-family: $body-font-stack;
    font-size: 18px;
    line-height: 1.3;

    &.pt {
        letter-spacing: 0.2px;
        padding-left: 3px;
        margin-bottom: 0;
    }
}

strong {
    font-family: $display-font-stack;
    font-size: 52px;
    line-height: 39px;
    letter-spacing: 0.2px;

    @media #{$agl-layout-xs} {
        font-size: 45px;
    }
}

.discount-content {
    max-width: 346px;
    margin: 0 auto;
}

.discount-amount {
    display: flex;
    justify-content: center;
    padding: 8px 0;
}

@media #{$agl-layout-desktop-medium-and-greater} {
    .discount-amount {
        &.wide-left-align {
            padding-top: 8px;
            justify-content: flex-start;
        }
    }
}
