.progress-tracker {
    margin: 0px auto;
    position: relative;
    width: 100%;

    ul {
        padding: 0px;
        position: relative;
        left: 50%;
        width: 50%;
        margin-top: 0;
        margin-bottom: 0;
    }
}
