<div *ngIf="instalmentsModel" class="payment-assistance-plan-instalments">
    <div *ngIf="headerText" class="payment-assistance-plan-instalments__body-header">
        {{headerText}}
    </div>
    <div class="payment-assistance-plan-instalments__body-table-progress-tracker-row">
        <div class="progress-tracker__overview">
            <agl-maui-progress-tracker [progressItems]="instalmentsModel.progressItems">
                <ng-template let-progressItem>
                    <agl-maui-vertical-progress-item [model]="progressItem.getModel()">
                        <div leftPane>
                        <agl-payment-assistance-plan-instalments-left-pane [primaryMessage]="progressItem.getPane1().primaryMessage" [secondaryMessage]="progressItem.getPane1().secondaryMessage"
                            [isPrimaryMessageGrey]="progressItem.getPane1().isPrimaryMessageGrey">
                        </agl-payment-assistance-plan-instalments-left-pane>
                    </div>
                    <div rightPane>
                        <agl-payment-assistance-plan-instalments-right-pane [primaryMessageStatus]="progressItem.getPane2().primaryMessageStatus" [primaryMessageDueDate]="progressItem.getPane2().primaryMessageDueDate"
                            [secondaryMessage]="progressItem.getPane2().secondaryMessage" [tertiaryMessage]="progressItem.getPane2().tertiaryMessage"
                            [isPrimaryMessageGrey]="progressItem.getPane2().isPrimaryMessageGrey" [color]="progressItem.getModel().color">
                        </agl-payment-assistance-plan-instalments-right-pane>
                    </div>
                    </agl-maui-vertical-progress-item>
                </ng-template>
            </agl-maui-progress-tracker>
        </div>
    </div>
</div>
