<div class="terms-conditions">
    <a href="#top"></a>
    <ul class="tc-subcontent">
       <li>	To be eligible for the AGL Rewards program, you must hold an active residential or small business gas and/or electricity account with AGL, and be registered for AGL My Account.</li>
       <li>	An AGL Rewards membership will be issued at AGL’s discretion in the name of the primary accountholder of the active residential or small business gas and/or electricity account.</li>
       <li>	If a member no longer holds an active gas and/or electricity account with AGL, membership to the AGL rewards program will be cancelled and that member must cease the use of the membership benefits. All access to AGL Rewards digital assets will be deactivated and AGL may cease Rewards-related communication.</li>
       <li>	The AGL Rewards program is only applicable at participating businesses and retailers. AGL reserves the right to change the list of participating retailers at any time.</li>
       <li>	Being an ActewAGL, or Powerdirect customer does not make you eligible for the AGL Rewards program. </li>
       <li>	AGL reserves the right to alter or amend the conditions of operation of the AGL Rewards program, or terminate the program, at any time.</li>
       <li>	By accepting these terms and conditions, you consent to receiving digital and other marketing communications about the AGL Rewards program, including the latest benefits and offers, unless you request otherwise.</li>
       <li>	AGL Rewards marketing consent is managed separately to any other AGL marketing consent. Opting out of the AGL Rewards communications will not affect your receipt of marketing communications from AGL. Opting out of any other AGL marketing communications will not cancel your AGL Rewards membership or change your subscription to AGL Rewards communications. 
           If you would like to change your general AGL marketing preferences, please call 131 245 or visit 
           <a href="http://agl.com.au/donotcontact" target="_blank" class="tc-url">http://agl.com.au/donotcontact</a>.</li> 
    </ul>
    <div class="tc-subheading">Membership Use</div>
    <ul class="tc-subcontent">
        <li>AGL Rewards has partnered with The Ambassador Club to provide instant discounts and special offers on good and services.</li>
        <li>Your AGL Rewards membership cannot be used in conjunction with any other concessional, promotional, or special offer.</li>
    </ul>
    <div class="tc-subheading">Dining</div>
    <p class="tc-subcontent">Any dining offers made available under the AGL Rewards program are subject to the following terms and conditions, unless otherwise specified: </p>
    <ul class="tc-subcontent">
        
        <li>	Offers may be used all year at participating restaurants except for: Easter, Christmas Eve/Day, New Years Eve/Day, Mothers’ Day, Fathers’ Day or Valentine’s Day, unless otherwise indicated.</li>
        <li>	A limit of two AGL Rewards members per booking applies unless otherwise specified.</li>
        <li>	The member must be accompanied by at least one other person to be entitled to receive the benefit. The member and guest must dine in the restaurant to be entitled to the specified saving. Offers are not valid for takeaway food.</li>
        <li>	When you are presented with the bill, present your digital AGL Rewards membership card by accessing the card via My Account and rotating your phone 90 degrees to activate the offer. The restaurant will then apply your discount to your bill.</li>
        <li>	Main Course Offers: When dining at a restaurant the benefit is one complimentary main course menu item, or the dollar value indicated. When two main courses are ordered the restaurant will deduct the price of the least expensive main course from the bill. With three people dining each guest must order a meal in order to receive the AGL Rewards benefit. Only one bill per group will be issued to the table. </li>
        <li>	% off Dining Offers: The advertised % off the total bill for the table, up to the maximum value indicated, will be deducted.</li>
        <li>	If a restaurant chooses to offer a saving on the fixed price menu the relevant dollar saving will be indicated.</li>
        <li>	Entrees and child portions are not considered main course menu items.</li>
    </ul>
    <div class="tc-subheading">Restaurant Performance Guarantee</div>
            <p class="tc-subcontent">In the unlikely event a listed establishment refuses to honour a dining offer made available under the AGL Rewards program, you have 30 days to send a copy of the bill, together with details of the claim and your membership details and Ambassador Card will assess your claim, including in relation to these Terms and Conditions and any other applicable eligibility criteria. If you are found to be eligible for a credit, Ambassador Card will send you a cheque for any credit you should have received.</p>
            <p class="tc-subcontent">Phone: 1300 397 079</p>
            <p class="tc-subcontent">Fax: 08 8298 5534</p>
            <p class="tc-subcontent">Email: <span class="tc-url">aglrewards@agl.com.au</span></p>
            <p class="tc-subcontent">Mail: AGL Rewards, 409 Morphett Road, Oaklands Park, SA 5046</p>
    <div class="tc-subheading">Accommodation</div>
    <ul class="tc-subcontent">
        <li>This offer is not valid with any other ‘special’ or promotion.</li>
        <li>Block out times may apply during special events or peak periods and reservations are subject to availability.</li>
        <li>At any accommodation venues that have meal offers available, at the end of each meal in the hotel restaurant it is important to show your AGL Rewards membership to the waiter, to enable the meal account to be adjusted before it is included on the final hotel bill.</li>
    </ul>

    <div class="tc-subheading">AGL Privacy Policy</div>
    <p class="tc-subcontent">AGL may use or disclose members' personal information to provide access to the benefits and offers under the AGL Rewards Program. This includes exchanging personal information with Ambassador Card and other service providers who have been contracted to provide administrative, website or other services in relation to the Program.
        For more information on how AGL handles your personal information, view the AGL Privacy Policy available at agl.com.au/privacy.</p>
     
    <div class="tc-subheading">Ambassador Card Privacy Policy</div>
     <div>
        <p class="tc-subcontent">The Ambassador Card is strongly committed to protecting the privacy of information collected about its members, establishments and clients and complies with the requirements of the Privacy Act 1988.</p>
        <p class="tc-subcontent">The Ambassador Card does not collect any personal information when you browse through this website.
            If you contact The Ambassador Card for any purpose, such as recommending a new establishment, and you provide your personal details, The Ambassador Card will safeguard the privacy and security of your personal information. Under no circumstances will The Ambassador Card pass your details onto any third party. 
        </p>
        </div>
    
    <div class="tc-subheading">Copyright</div>
    <div class="tc-subcontent">
            All content included on this site, such as text, graphics, logos, button icons, images and software, is the property of The Ambassador Card and is protected by Australian and international copyright laws (unless previously public domain) and are not to be reproduced or distributed for any purpose without written consent of The Ambassador Card. The compilation (meaning the collection, arrangement and assembly) of all content on this site is the exclusive property of The Ambassador Card and is protected by Australian and international copyright laws. Any other use, including the reproduction, modification, distribution, transmission, republication, display or performance of the content on this site is strictly prohibited.
           <p>Copyright 2017 The Ambassador Card. All rights reserved.</p>
    </div>
    
    <div class="tc-subheading">Disclaimer</div>
    <div class="tc-subcontent">
        <p class="tc-subcontent"> At the time of publication, all establishments listed on this website are active participants in The Ambassador Card Program. 
            The Ambassador Card does not guarantee that the information provided is complete or correct.
        </p>
        <p class="tc-subcontent">The Ambassador Card does not accept any responsibility for loss or damage suffered by any person or body relying directly or indirectly on any information contained within this site.</p>
        <p class="tc-subcontent">Links to Other Sites</p>
        <p class="tc-subcontent">This Policy only applies to this website and does not apply to any websites from which you may have linked to this website or to any website to which you may link from this website.</p>
        <p class="tc-subcontent">The sites that are displayed when searching Ambassador Card establishments are developed by third parties over whom The Ambassador Card has no control.</p>
    </div>
</div>

<div class="terms-conditions-btn-close">
    <div class="terms-conditions-heading">Terms and conditions –&nbsp;AGL Rewards Membership</div>
    <div class="btn-close" (click)="closeClick()">✕</div>
</div>