<div class="re-sign">
    <div class="re-sign__header-wrap">
        <div class="re-sign__trolley">
            <img src="svg/inactive_trolley_body.svg" class="re-sign__trolley-body">
            <img src="svg/inactive_trolley_box.svg" class="re-sign__trolley-box">
        </div>
        <div class="re-sign__header-message">
            <div>We’re sad to</div>
            <div>see you go.</div>
        </div>
    </div>
    <div class="re-sign__message">If you’d like to switch back to AGL, connection is only a click away.</div>
    <a class="re-sign__button" href="https://www.agl.com.au/signup" target="_blank">Sign up now</a>
    <div class="re-sign__feedback">And, if you have any feedback please <a href="https://www.agl.com.au/residential/contact-us" target="_blank"><span class="no-wrap">let us know</span></a> how we can improve.</div>
</div>