<div class="row agl-omm-error">
    <div class="col s12">
        <nav class="agl-omm-error__header">
            <a href="https://www.agl.com.au" target="_blank" class="brand-logo">
                <mat-icon svgIcon='agl-brand-logo' class="agl-omm-error__logo"></mat-icon>
            </a>
            <a href="https://www.agl.com.au" target="_blank" class="mobile-brand-logo">
                <mat-icon svgIcon='agl-mobile-brand-logo' class="agl-omm-error__mobilelogo"></mat-icon>
            </a>
        </nav>
        <div class="agl-omm-error__body">
            <agl-error-message [configData]="error"></agl-error-message>
            <div class="agl-omm-error__body__btncontainer">
                <div id="lpBtnOMMTrackerError"></div>
            </div>
        </div>
    </div>
</div>
