@import '../../_maui';

@include maui-component-reset();

.maui-radio-button {

    &-label {
        font-weight: normal;
        margin: 0;
        display: flex;
        padding: $space-04 0 $space-04 0;
        cursor: pointer;

        &-container {
            width: 100%;
        }

        &__selected {
            color: $primary-dark;
        }
    }

    &__radio-div {
        border: 1px solid $neutral-04;
        border-radius: 50%;
        width: 22px;
        height: 22px;
        margin-right: 15px;
        display: flex;
        flex-shrink: 0;
    }

    &__input {
        -moz-opacity: 0;
        opacity: 0;
        position: absolute;

        &:checked+.maui-radio-button__radio-div {
            border: 7px solid $primary-dark;
        }
    }
}
