<header #mobileHeader [class.push-toleft]="menu.isOpen">
    <div class="agl-mobile-wrapper mobile">
        <div class="agl-mobile-header">
            <mat-icon (click)="openMenu()" class="agl-mobile-header-menu" svgIcon="icon-hamburger-menu"></mat-icon>
            <a href="https://www.agl.com.au" target="_blank">
                <img class="agl-mobile-header-agl-logo" src="svg/icon-header-mobile.svg">
            </a>
            <div class="agl-mobile-header-user" [matMenuTriggerFor]="profileMenu">
                <mat-icon class="agl-mobile-header-user__person-icon" svgIcon="icon-person"></mat-icon>
                <mat-icon class="agl-mobile-header-user__dropdown-icon">arrow_drop_down</mat-icon>
            </div>
            <mat-menu #profileMenu="matMenu" class="agl-header-dropdown-menu__mob">
                <a mat-menu-item href="https://www.agl.com.au/residential/help-and-support" target="_blank">
                    <span>Help</span>
                </a>
                <a mat-menu-item href="https://www.agl.com.au/residential/contact-us" target="_blank">
                    <span>Contact Us</span>
                </a>
                <a mat-menu-item (click)="logout($event)">
                    <span>Logout</span>
                </a>
            </mat-menu>
        </div>
        <agl-maui-secondary-navigation
            [display]="secondaryNavigationService.display"
            [displayBackButton]="secondaryNavigationService.displayBack"
            [text]="secondaryNavigationService.desktopText"
            [textMobile]="secondaryNavigationService.mobileText"
            (clicked)="secondaryNavigationService.backClick($event)">
        </agl-maui-secondary-navigation>
    </div>
    <agl-desktop-menu></agl-desktop-menu>
</header>
