<footer class="agl-footer">
    <div class="container">
        <a href="https://www.agl.com.au/site-pages/privacy" target="_blank" id="footer-privacy-link">Privacy</a>
        <span>|</span>
        <a href="https://www.agl.com.au/site-pages/legal-notices" target="_blank" id="footer-legal-link">Legal Notices</a>
        <span>|</span>
        <a href="https://www.agl.com.au/site-pages/terms" target="_blank" id="footer-privacy-link">Terms & Conditions</a>
        <span>|</span>
        ABN&nbsp;74&nbsp;115&nbsp;061&nbsp;375
    </div>
</footer>
