@import '../../_showcase';

.maui-radio-button-container {
    margin-left: -15px;
}

.content {
    display: block;
    padding-bottom: $space-04;
}

.fill-background {
    background: $neutral-05;
}
