<agl-maui-secondary-navigation *ngIf="!isLoading" display="true" displayBackButton="true" text="Energy Insights" (clicked)="goBack()">
</agl-maui-secondary-navigation>

<div class="energy-insights-info">
    <agl-maui-heading class="energy-insights-info__heading" heading="Your energy use by appliance"></agl-maui-heading>
    <agl-maui-container class="energy-insights-info__container" [hasShadow]="true">
        <p style="padding: 30px">This page is intentionally left blank.</p>
    </agl-maui-container>
    <agl-maui-button class="energy-insights-info__close-button">
        Close
    </agl-maui-button>
</div>
