<div class="quicklinks-section">
    <div class="quicklinks-title tempdls-heading-primary">Quicklinks</div>
    <div>
        <div class="row">
            <div class="col-xs-12">
                <div class="usage-quicklinks-list">
                   <!-- href="/aeo/home/paymentoptions/bill-smoothing"-->
                    <a href="{{directDebitUrl}}" mat-raised-button="" id="DirectDebitLink" routerlink="." ng-reflect-router-link="." aria-disabled="false" tabindex="0" class="usage-quicklinks-list__item" target="_blank">
                        <span class="usage-quicklinks-list__item_text">DIRECT DEBIT SETUP</span>
                    </a>
                    <a href="{{paperlessBillingUrl}}" mat-raised-button="" id="EbillingSetting" routerlink="." ng-reflect-router-link="." aria-disabled="false" tabindex="0" class="usage-quicklinks-list__item" target="_blank">
                        <span class="usage-quicklinks-list__item_text">EBILLING SETTINGS</span>
                    </a>
                    <a href="{{changePlanUrl}}" mat-raised-button="" routerlink="." id="ChangeMyPlan" ng-reflect-router-link="." aria-disabled="false" tabindex="0" class="usage-quicklinks-list__item" target="_blank">
                        <span class="usage-quicklinks-list__item_text">CHANGE MY PLAN</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
