<div class="payment-assistance-select-error__message">
    <div class="payment-assistance-select-error__message__header">Payment assistance is down.</div>
    <div class="payment-assistance-select-error__message__body">
        <div>We're sorry for the inconvenience.</div>
        <div>Please check back soon, or get in touch with us <a href="https://www.agl.com.au/residential/contact-us" target="_blank">here</a>.</div>
    </div>
</div>

<div class="payment-assistance-select-error__dog-of-doom">
    <agl-generic-error-image></agl-generic-error-image>
</div>

<div class="payment-assistance-select-error__overview-button">
    <agl-maui-button (clicked)="goToOverview()">Go To Overview</agl-maui-button>
</div>
