<div class="delete-dd">
    <div>
        <div class="delete-dd__header">
            <span>{{title}}</span>
        </div>

        <div class="delete-dd__address" *ngIf="isMultiAccount">
            <div [class.delete-dd__address__single-address]="!isAccountWithMultiAddresses()" [class.delete-dd__address__multi-addresses]="isAccountWithMultiAddresses()">
                <div class="delete-dd__address__acc-icon">
                    <div class="delete-dd__address--account-no">Account no: {{accountDetailModel.contractAccountNumber | aglAddSpaces}}</div>
                    <div class="delete-dd__address--fuel-icons">
                        <mat-icon *ngFor="let icon of elecIcons" svgIcon="icon-elec-enabled" alt="electricity icon"></mat-icon>
                        <mat-icon *ngFor="let icon of gasIcons" svgIcon="icon-gas-enabled" alt="gas icon"></mat-icon>
                    </div>
                </div>
                <div *ngIf="!isAccountWithMultiAddresses()" class="delete-dd__address--address">
                        {{accountDetailModel.supplyAddresses[0]}}
                </div>
                <div *ngIf="isAccountWithMultiAddresses()" class="delete-dd__address--multiaddress">
                        and associated addresses
                </div>
            </div>
        </div>
        <div class="delete-dd__body" *ngIf="isSwitchPaymentMethod && isNewPaymentMethodCreditCard">
            A transaction fee of 0.45% applies to credit card payments.
        </div>
        <div class="delete-dd__body" *ngIf="!isSwitchPaymentMethod">
            If you want to use SMS Pay in future, it's easy to set it up again.
        </div>
        <div class="delete-dd__body" [innerHTML]="description"></div>
        <div class="delete-dd__body">
            If you've authorised any payments with SMS Pay in the last 24 hours, please
            <a href="https://www.agl.com.au/residential/help-and-support/contact-us" target="_blank">
                contact us</a>
            to confirm if your payment will be processed.
        </div>
    </div>
    <div class="delete-dd__button"  *ngIf="!isSwitchPaymentMethod">
        <button mat-raised-button color="accent" (click)="removeOrSwitchPaymentArrangement()" [class.is-loading]="isLoading">{{deleteButtonText}}</button>
        <button mat-raised-button class="delete-dd__button--white" (click)="closeModal()">{{keepButtonText}}</button>
    </div>
    <div class="delete-dd__button" *ngIf="isSwitchPaymentMethod">
        <button mat-raised-button color="accent" (click)="changePaymentMethod(PaymentArrangementType.SmsPay)" [class.is-loading]="isLoading">CHANGE PAYMENT METHOD</button>
        <button mat-raised-button class="delete-dd__button--white" (click)="closeModal()">KEEP PAYMENT METHOD</button>
    </div>
</div>
