<agl-maui-showcase-template heading='Heading'>
    <div description>
        format and centralise heading and subheading
    </div>
    <div exampleCodeUsage>  
        {{codeUsage}}
    </div>
    <div exampleImplementation>
        <agl-maui-showcase-example label='Heading only'>
            <agl-maui-heading heading='How many more days would you like?'></agl-maui-heading>
        </agl-maui-showcase-example>
        <agl-maui-showcase-example label='Heading and subheading'>
            <agl-maui-heading heading='How many more days would you like?' subheading='How long do you need to extend your Electricity bill for?'></agl-maui-heading>
        </agl-maui-showcase-example>
    </div>
</agl-maui-showcase-template>
