<div class="bs-modal">
    <div class="bs-modal-header">
        Bill Smoothing is simple
    </div>
    <div class="bs-modal-content">
        <img class="graph desktop" src="img/bs_graph.png" alt="graph desktop">
        <img class="graph mobile" src="img/bs_graph_mob.png" alt="graph mobile">
        <div class="inner-wording">
            <p>AGL Bill Smoothing takes the uncertainty out of energy by simplifying your energy bill payments.</p>
            <p>We do this by averaging out your estimated total energy cost for the next year across equal weekly, fortnightly, or monthly instalments, which we'll review throughout the year.</p>
            <p>After 12 months, we'll compare your actual and estimated energy usage and, if required, update your payments to ensure they match up.</p>
            <p>This means you're getting the best value out of Bill Smoothing, all the time.</p>
        </div>
    </div>
</div>
