@import '../../style/variables';
@import '../../style/agltheme';

.payment-container {
    font-size: 14px;
    line-height: 17px;
    position: relative;
    width: 100%;
    min-height: 500px;

    &__label {
        font-weight: bold;
    }

    &__text {
        margin-bottom: 20px;
    }

    &__main {
        margin-top: 30px;
    }

    &--left {
        padding-right: 15px;
    }

    &--right {
        @media #{$agl-layout-tablet-and-greater} {
            padding-left: 55px;
        }
    }
}

.close-button {
    color: $brand-grey-g2;
    position: absolute;
    top: 50px;
}
