<div class="payment-extension-error__message">
    <span class="payment-extension-error__message__header">Payment assistance is down.</span>
    <span class="payment-extension-error__message__body">We're sorry for the inconvenience.</span>
    <span class="payment-extension-error__message__body">Please check back soon, or get in touch with us <a href="https://www.agl.com.au/residential/contact-us" target="_blank">here</a>.</span>
</div>

<div class="payment-extension-error__dog-of-doom">
    <agl-generic-error-image></agl-generic-error-image>
</div>

<div class="payment-extension-error__overview-button">
    <agl-maui-button (clicked)="goToOverview()">Go To Overview</agl-maui-button>
</div>