body {
    margin: 10px;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
    color: #001CB0;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Titillium Web", sans-serif;
}

section {
    display: none;
}

#errors {
    padding: 20px;
    color: red;
}

#flag-settings label {
    margin: 5px;
}

#loader {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    position: absolute;
    opacity: 0.95;
}

#loader div {
    width: 100%;
    text-align: center;
    margin-top: 150px;
    color: black;
}

.tick-icon {
    width: 12px;
    height: 12px;
}