@import '../../../../../shared/style/variables';
@import '../../../../../shared/style/mixins';

agl-webchat {
    display: block;
}

.bill-smoothing-live-person-container {
    margin-left: -15px;
    margin-right: -15px;

    div {
        &:focus {
            outline: none;
        }
    }
}

.live-person-button  {
    height: 50px;
    border-radius: $agl-border-radius;
    background-color: $brand-blue;
    color: $brand-white;
    text-align: center;
    cursor: pointer;
    box-shadow: $agl-button-shadow;
    margin: 0 15px 30px 15px;

    &:hover {
        background-color: $brand-sky-light;
        box-shadow: $agl-button-hover-shadow;
        transform: translate3d(0, 0, 0);
        transition: background .4s cubic-bezier(.25, .8, .25, 1), box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    }

    span {
        display: inline-block;
        vertical-align: top;
        line-height: 50px;
        font-weight: bold !important;
        font-size: 14px !important;
        font-family: $primary-font-stack !important;
        letter-spacing: 1px !important;
        margin-left: 11px;
    }

    a {
        display: inline-block;
        vertical-align: top;
        line-height: 50px;
        font-weight: bold !important;
        font-size: 14px !important;
        font-family: $primary-font-stack !important;
        letter-spacing: 1px !important;
        margin-left: 11px;
        color: $brand-white !important;
    }
}

.live-person-offline-mobile {
    display: none;
    @media #{$agl-layout-mobile} {
        display: block;
    }

    a  {
        white-space: nowrap;
        color: $brand-sky;
        text-decoration: none;
    }

}

.live-person-offline-tablet-and-greater {
    display: none;
    @media #{$agl-layout-tablet-and-greater} {
        display: block;
    }

    a  {
        white-space: nowrap;
        color: $black-87-opacity;
        text-decoration: none;
    }
}

.live-person-message {
    font-family: $secondary-font-stack;
    font-size: 14px;
    line-height: 20px;

    div {
        margin: 0 15px 25px 15px;
    }

    .chat-button-message {
        margin: 0 0 25px 0;
    }
}

.chat-icon {
    width: 25px;
}

.remove-left-margin {
    margin-left: 0;
}
