@import '../../../style/variables';
@import '../../../style/mixins';

:host {
    display: block;
    max-height: 500px;
    transition: max-height 0.8s ease;
    margin-top: 20px;

    @media #{$agl-layout-mobile} {
        margin: 20px -15px -32px;
    }
}

:host(.close-panel) {
    max-height: 0;
}

.payment-sms-banner {
    background-color: $brand-aqua;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 28px 20px;
    font-family: $secondary-font-stack;
    box-shadow: $agl-box-shadow-c1;

    &__container {
        position: relative;
        margin: 0px auto;
        padding-left: 15px;
        padding-right: 15px;

    }

    &__text {

        &-header {
            font-family: $primary-font-stack;
            color: $brand-sky;
            font-weight: bold;
            font-size: 22px;
            margin-bottom: 20px;
        }

        &-subtext {
            color: $brand-grey-g1;
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 20px;
        }
    }

    &__cta {

        &-link {
            margin-top: 12px;

            a {
                font-size: 14px;
                color: $brand-white;
                transition: color 0.3s ease;

                &:hover {
                    color: $brand-white;
                }
            }
        }
    }
}
