@import '../../shared/style/variables';
@import '../../shared/style/mixins';

.container-fluid {

    font-family: $primary-font-stack;

    .heading {
        margin: 5px 0;
    }

    .results {
        font-weight: 900;
        margin-left: 10px;
        padding-top: 5px;
    }

    .tags {
        padding: 10px;
        max-height: 400px;
        overflow-y: auto;
        background: rgba(178, 221, 239, 0.1);

        &__heading {
            padding-bottom: 5px;
        }

        &__description {
            font-style: italic;
        }

        &--new-tag-group {
            padding-top: 10px;
        }

        &--horizontal {
            display: inline-block;
            padding-left: 10px;
        }
    }

    .mockBusinessPartners {
        padding-top: 10px;

        table {

            font-size: 0.9em;
            width: 100%;

            tr {

                th,
                td {
                    cursor: pointer;
                }

                th {
                    text-align: left;
                    font-weight: 600;
                    padding: 2px;
                    background-color: $brand-elec-category-2-1;
                    border: 1px solid $brand-elec-category-2-1;
                }

                td {
                    color: $brand-sky;
                    border: 1px solid $brand-grey-c5;
                    padding: 2px;
                }

                .selected {
                    background-color: $brand-blue-lighter;
                }
            }

        }

        .mockBusinessPartner {
            color: $brand-white;
            cursor: pointer;
            background-color: $brand-sky;
            margin: 0px 0px 10px 0px;
            min-height: 80px;
            border-radius: 4px;

            &:hover {
                background-color: $brand-sky-lighten-60 !important;
                color: $brand-black;
            }

            &.selected {
                background-color: $brand-water !important;
                color: $brand-aqua;
                color: $font-colour-black;

                &:hover {
                    background-color: $brand-sky-lighten-60 !important;
                    color: $brand-black;
                }
            }

            .info {
                .businessPartnerNumber {
                    font-weight: bold;
                }

            }

        }

    }

}
