.v-center {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.float--right {
    float: right !important;
}

.float--left {
    float: left !important;
}

.float--none {
    float: none !important;
}

.text--left {
    text-align: left !important;
}

.text--center {
    text-align: center !important;
}

.text--right {
    text-align: right !important;
}

.weight--light {
    font-weight: 300 !important;
}

.weight--normal {
    font-weight: 400 !important;
}

.weight--semibold {
    font-weight: 600 !important;
}

.weight--bold {
    font-weight: 700 !important;
}

.icon--blue {
    path {
        fill: $col-ocean;
        stroke: $col-ocean;
    }
}

.icon--fill-blue {
    path {
        fill: $col-ocean;
    }
}

.icon--stroke-blue {
    path {
        stroke: $col-ocean;
    }
}

.grid-adjust {
    margin-left: -10px;
    margin-right: -10px;
}
