// Primary palette
$col-sky: #00DFED;
$col-ocean: #001CB0;
$col-sun: #FFE344;
//Secondary palette
$col-daintree--light: #50E3C2;
$col-daintree--dark: #2CAA18;
$col-waratah--light: #F80EC5;
$col-waratah--dark: #FD334C;
$col-gbr--light: #9D15FF;
$col-gbr--dark: #6031A6;
$col-sun--light: #FFE344;
$col-sun--dark: #F6A623;
// Neutral palette
$col-g6: #F5F5F5;
$col-g5: #E8E8E8;
$col-g4: #CCCCCC;
$col-g3: #999;
$col-g2: #666;
$col-g1: #333;
