<div class="dashboard-fake-data-container desktop" [@loadedState]="status">
    <div class="dashboard-fake-header">
        <div></div>
    </div>
    <div class="dashboard-fake">
        <svg viewBox="0 0 859 507" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
                <rect id="path-1" x="0" y="0" width="847" height="495"></rect>
                <filter x="-1.1%" y="-1.8%" width="102.1%" height="103.6%" filterUnits="objectBoundingBox" id="filter-2">
                    <feOffset dx="0" dy="0" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                    <feGaussianBlur stdDeviation="3" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                    <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.100628397 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                </filter>
            </defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Skeleton-Screen" transform="translate(-24.000000, -158.000000)">
                    <g id="Smart-Meter" transform="translate(30.000000, 164.000000)">
                        <g id="Group-27">
                            <g id="Mask-Copy-13">
                                <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                                <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                            </g>
                            <rect id="Mask-Copy-13" fill="#F9F9F9" x="425" y="0" width="422" height="495"></rect>
                            <g id="summary" transform="translate(148.000000, 423.000000)" stroke-linecap="square" stroke="#E8E8E8">
                                <g id="Group-2" transform="translate(0.883255, 0.000000)">
                                    <path d="M0.998820755,0 L0.998820755,30" id="divider"></path>
                                    <path d="M120.880896,0 L120.880896,30" id="divider"></path>
                                </g>
                            </g>
                            <g id="Group-13" transform="translate(60.000000, 176.000000)">
                                <g id="horseShow-/-8daysToGo" transform="translate(0.863619, 0.000000)" stroke="#E8E8E8" stroke-width="18" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M282.147801,201 C288.887138,184.160801 292.594137,165.776566 292.594137,146.525367 C292.594137,65.6095482 227.094158,0.0133192771 146.297068,0.0133192771 C65.4999784,0.0133192771 4.54747351e-13,65.6095482 4.54747351e-13,146.525367 C4.54747351e-13,165.730554 3.69007151,184.07362 10.3979735,200.880127" id="0_daysToGo"></path>
                                </g>
                                <g id="Group-9" transform="translate(96.171221, 72.010638)"></g>
                            </g>
                            <g id="Group-14" transform="translate(263.000000, 349.000000)" font-size="11" font-family="Gilroy-Bold, Gilroy" line-spacing="18" fill="#FFFFFF" font-weight="bold">
                                <g id="I">
                                    <text id="i">
                                        <tspan x="0.1415" y="10">i</tspan>
                                    </text>
                                </g>
                            </g>
                        </g>
                        <rect id="Rectangle" fill="#E8E8E8" x="25" y="25" width="44" height="44"></rect>
                        <rect id="Rectangle-3" fill="#E8E8E8" x="84" y="56" width="134" height="13"></rect>
                        <rect id="Rectangle-3-Copy-41" fill="#CCCCCC" opacity="0.70386096" x="485" y="132" width="134" height="13"></rect>
                        <rect id="Rectangle-3-Copy-2" fill="#E8E8E8" x="84" y="33" width="95" height="13"></rect>
                        <rect id="Rectangle-3-Copy-42" fill="#CCCCCC" opacity="0.70386096" x="485" y="186" width="144" height="13"></rect>
                        <rect id="Rectangle-3-Copy-43" fill="#CCCCCC" opacity="0.70386096" x="485" y="109" width="118" height="13"></rect>
                        <rect id="Rectangle-3-Copy-11" fill="#E8E8E8" x="60" y="418" width="57.4257812" height="13"></rect>
                        <rect id="Rectangle-3-Copy-13" fill="#E8E8E8" x="182" y="418" width="57.4257812" height="13"></rect>
                        <rect id="Rectangle-3-Copy-26" fill="#E8E8E8" x="138" y="286" width="139" height="44"></rect>
                        <rect id="Rectangle-3-Copy-15" fill="#E8E8E8" x="301" y="418" width="57.4257812" height="13"></rect>
                        <rect id="Rectangle-3-Copy-44" fill="#CCCCCC" opacity="0.70386096" x="485" y="209" width="107" height="13"></rect>
                        <rect id="Rectangle-3-Copy-45" fill="#CCCCCC" opacity="0.70386096" x="485" y="262" width="302" height="52"></rect>
                        <rect id="Rectangle-3-Copy-12" fill="#E8E8E8" x="60" y="441" width="44" height="13"></rect>
                        <rect id="Rectangle-3-Copy-14" fill="#E8E8E8" x="182" y="441" width="44" height="13"></rect>
                        <rect id="Rectangle-3-Copy-16" fill="#E8E8E8" x="301" y="441" width="44" height="13"></rect>
                    </g>
                </g>
            </g>
        </svg>
    </div>
</div>

<div class="dashboard-fake-data-container mobile" [@loadedState]="status">
    <div class="dashboard-fake-header">
        <div></div>
        <div></div>
    </div>
    <div class="dashboard-fake">
        <img src="img/gg-min.png">
    </div>
</div>
