@import '../../_showcase';


.page-indicator {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 8px;
}

#secondary-navigation-showcase__page-option {
    margin-bottom: $space-03;
    width: 200px;
}
