@import '../../../shared/style/variables';
@import '../../../shared/style/mixins';

p {
    padding-top: 0;
    margin-top: 0;
    font-size: 14px;

    a {
        color: $brand-sky;

        &:hover {
            color: $brand-grey-g1;
        }
    }
}

.store-card-return,
.store-card-form {
    width: 50%;
    float: left;

    @media #{$agl-layout-mobile} {
        width: 100%;
    }
}

.store-card-return {
    padding: 40px 50px;
    text-align: center;

    @media #{$agl-layout-mobile} {
        padding: 0;
    }

    .creditCardIcon {
        width: 80px;
        height: 50px;

        @media #{$agl-layout-mobile} {
            display: none;
        }
    }

    h1 {
        font-size: 20px;
        font-weight: bold;
        line-height: 31px;
    }

    p {
        font-size: 12px;
        line-height: 17px;
        font-weight: normal;
        padding-top: 9px;
        margin: 0;
    }

    span {
        color: $brand-sky;
        font-family: $primary-font-stack;
        font-size: 16px;
        font-weight: bold;
        line-height: 24px;
        cursor: pointer;

        &:hover {
            color: $lighten-sky-20;
        }
    }

    .mobile {
        .mobile-change-method {
            font-size: 16px;
            padding: 14px;
            width: 100%;
            margin-top: 6px;
            height: 50px;
            text-align: left;
            border: 1px solid $brand-grey-g3;
            border-radius: 4px;
            outline: none;
            background-color: $brand-white;

            span {
                color: $brand-sky;
                font-family: $primary-font-stack;
                font-size: 14px;
                float: right;
                cursor: pointer;

                &:hover {
                    color: $lighten-sky-20;
                }
            }
        }

        p {
            text-align: left;
        }
    }
}

.store-card-form {
    padding-left: 50px;
    border-left: 1px solid $brand-grey-g4;

    @media #{$agl-layout-mobile} {
        border-left: none;
        padding: 0;
    }
}
