@import '../../shared/style/variables';
@import '../../shared/style/mixins';

.projection-amount {
    font-family: $secondary-font-stack;
    font-size: 14px;
    color: $brand-grey-g1;
    padding-bottom: 10px;
    margin-top: -5px;

    .tool-tip-holder {
        .agltooltip-icon {
            width: 13px;
            height: 13px;
            margin-left: 2px;
            margin-top: -2px;
            cursor: pointer;

            &:hover {
                opacity: 0.75;
            }
        }

        .chart-tooltip {
            background-color: $brand-white;
            color: $brand-grey-g2;
            padding: 22px;
            position: absolute;
            width: 300px;
            line-height: 17px;
            left: -17px;
            bottom: 34px;
            box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);

            @media #{$agl-layout-mobile} {
                width: 200px;
                left: -15px;
            }

            &:after {
                content: '';
                position: absolute;
                left: 50%;
                bottom: -7px;
                width: 15px;
                height: 15px;
                background: inherit;
                transform: translateX(-50%) rotate(-45deg);
                box-shadow: -2px 2px 5px 0 rgba(0, 0, 0, 0.15);

                @media #{$agl-layout-mobile} {
                    left: 149px;
                }
            }

            a {
                color: $brand-sky;
                text-decoration: none;

                &:hover {
                    color: $brand-grey-g1;
                }
            }
        }
    }
}
