@import '../homeProfile';

.homeprofile-cooking {
    @include homeprofile-survey-page-styling();

    &-body  {
        @include homeprofile-body-styling();

        @media #{$agl-layout-tablet-and-greater} {
            background-image: url('svg/homeprofile/oven.svg');
            background-position: right 22px top 140px;
        }
    }

    &-questionnaire {
        @include homeprofile-survey-questionnaire-styling();

        &__heading {
            @include homeprofile-heading-styling();

            &-no-margin {
                @include homeprofile-heading-styling();
                margin: 0;
            }
        }

        &__subsection {
            margin-bottom: $space-04;
        }
    }
}
