<div class="ssmr-safety-screen">
    <div class="heading">
        Take care when reading your meter
    </div>
    <div class="icon">
        <img src="svg/smart_meter_take_care.svg">
    </div>
    <div class="content">
        Energy meters can sometimes be in strange and inconvenient places. 
    </div>
    <div class="content"> 
        Always remember to be safe and never attempt to read your meter if it puts you or others at risk.
    </div>
    <div class="button__continue">
        <a mat-raised-button color="accent" class="tempdls-button" (click)="onClickContinue()">OK, CONTINUE</a>
    </div>
</div>