@import '../../../../../shared/style/variables';

.credit-card {

    p {
        font-size: 12px;
        line-height: 14px;
    }

    &__logo {
        padding-top: 9px;
        padding-bottom: 30px;

        .mat-icon {
            height: 18px;
            width: 30px;
        }

        &-text {
            font-size: 12px;
            font-weight: normal;
            line-height: 17px;
            display: inline-block;
            vertical-align: top;
            padding-left: 5px;
        }
    }

    &__disclaimer {
        font-size: 12px;
        line-height: 13px;
        font-weight: normal;
        margin-top: 25px;

        a {
            color: $brand-sky;
            transition: color 0.3s ease;

            &:hover {
                color: $brand-sky-darker;
            }
        }

        &-row {
            margin-top: 15px;
        }
    }

    &__iframe-error {
        padding: 15px;
        background-color: #F8CAD3;
        color: #D0021B;
        display: inline-block;
        width: 100%;
        margin-bottom: 30px;
    }

    &__iframe-processing-error {
        margin-bottom: 30px;
    }

    &__iFrame {
        background-color: $brand-grey-g6;
        display: block;

        &.hide-iframe {
            display: none;
        }

        #payment-gateway {
            height: 430px;
            width: 100%;
        }

        #paymentGateway {
            height: 430px;
            width: 100%;
        }

        &__loader {
            width: 100%;
            background-color: $brand-grey-c2;
            height: 260px;
        }
    }
}
