<div class="multi-register-onboard">
    <div class="header">
        We need multiple numbers
    </div>
    <div class="description">
        Your meter has more than 1 register, this means you need to capture multiple numbers. We'll take you through each register one by one.
        <br>
        <br>
        You need to enter at least one read.
    </div>
        <div class="meter-register-read-container">
            <img class="meter-register-read-container__icon" src="svg/meter-large-digital1.svg">
            <img class="meter-register-read-container__icon" src="svg/meter-large-digital2.svg">
        </div>
     <div class="button__continue">
        <a mat-raised-button color="accent" class="tempdls-button" (click)="onClickNext()">NEXT</a>
    </div>

    <div class="footer">
        <div class="footer__content">
            <a href="https://www.agl.com.au/residential/help-and-support/how-to-read-your-meter" target="_blank"> 
                <img class="icon_size" src="svg/help_icon.svg">
                How to read your meter
            </a>
        </div>
    </div>

</div>