@import '../../../../../shared/style/variables';
@import '../../../../../shared/style/mixins';
@import '../../../../../shared/style/tempdls';

.header {
    height: 42px;
    color: $brand-grey-g1;
    font-family: $primary-font-stack;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    @media #{$agl-layout-mobile} {
        font-size: 25px;
    }
}

.description {
    height: 80px;
    color: $brand-grey-g1;
    font-family: $secondary-font-stack;
    font-size: 14px;
    padding: 0 14px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 38px;
    @media #{$agl-layout-mobile} {
        margin-top: 8px;
        margin-bottom: 50px;
    }
}

.meter-register-read-container {
    width: 100%;
    padding: 10px 0;
    margin: auto;
    height: 170px;
    text-align: center;
    background-image: url('svg/icon_bricks.svg');
    background-repeat: no-repeat;
    padding-top: 13px;
    @media #{$agl-layout-tablet-and-smaller} {
        width: 80%;
    }

    &__icon {
        margin-left: 20px;
        margin-right: 20px;
        @media #{$agl-layout-mobile} {
            margin-left: 7px;
            margin-right: 7px;
        }
    }
}

.button__continue {
    text-align: center;
    margin-top: 25px;

    a {
        height: 50px;
        width: 290px;
        padding: 7px 50px;
        border-radius: $agl-border-radius;
    }
}

.footer {
    margin-top: 20px;

    .footer__content {
        width: 200px;
        margin: 0 auto;
        color: $brand-sky;
        background-color: $brand-grey-g6;
        font-size: 16px;
        font-weight: bold;
        font-family: $primary-font-stack;
        cursor: pointer;
        text-align: center;

        a {
            color: $brand-sky;
        }

        img {
            margin-right: 8px;
        }
    }
}
