@import '../../style/variables';
@import '../../style/mixins';
@import '../../style/agltheme.scss';

.agltooltip-icon {
    width: 14px;
    height: 14px;
    margin-left: 2px;

    &:hover,
    &-hover {
        opacity: 0.5;
    }
}
